<head data-th-fragment="head(title)">
  <meta charset="UTF-8"/>
  <title data-th-text="${title}">Hello, world</title>
  <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" data-th-href="@{/css/bootstrap-theme.min.css}"/>
  <link rel="stylesheet" data-th-href="@{/css/main.css}"/>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" data-th-fragment="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" data-th-href="@{/}" data-th-text="#{index.title}">Hauptseite</a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a data-th-text="#{about.title}" data-th-href="@{/about}">About</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text" data-th-utext="#{navigation.login.status(${#httpServletRequest.remoteUser})}">
        </p>
      </li>
    </ul>
  </div>
</nav>
