<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Hello, world</title>
  <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" data-th-href="@{/css/bootstrap-theme.min.css}"/>
  <link rel="stylesheet" data-th-href="@{/css/main.css}"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" data-th-href="@{/}" data-th-text="#{index.title}">Hauptseite</a>
    </div>
  </div>
</nav>


<table class="table">
  <tr data-th-each="entry : ${list}">
    <td data-th-text="${entry.id}"></td>
    <td data-th-text="${entry.votes}"></td>
    <td data-th-text="${entry.title}"></td>
  </tr>
</table>

<footer class="footer">
  <span data-th-text="${date}"></span>
</footer>

</body>
</html>
