<!doctype html>
<html>
<head data-th-replace="header :: head(#{search.title.bar})"></head>
<body>

<nav data-th-replace="header :: navigation"></nav>

<div class="container">

  <form class="form-horizontal" data-th-action="@{/search}" method="get">
    <div class="form-group">
      <div class="col-md-11">
        <input class="form-control" type="text" name="query" autofocus="autofocus" data-th-placeholder="#{search.form.title}" maxlength="255"/>
      </div>
      <button class="col-md-1 btn btn-success" type="submit" data-th-text="#{search.form.submit}">Submit</button>
    </div>
  </form>
  <hr/>

  <table class="table">
    <thead>
    <tr>
      <td class="col-md-1" data-th-text="#{index.table.id}">ID</td>
      <td class="col-md-1" data-th-text="#{index.table.votes}">Votes</td>
      <td class="col-md-1" data-th-text="#{index.table.creator}">Creator</td>
      <td class="col-md-9" data-th-text="#{index.table.title}">Title</td>
    </tr>
    </thead>
    <tr data-th-each="entry : ${list}">
      <td>
        <span data-th-text="${entry.id}"></span>
      </td>
      <td data-th-text="${entry.votes}"></td>
      <td data-th-text="${entry.creator.username}"></td>
      <td data-th-text="${entry.title}"></td>
    </tr>
  </table>

  <footer class="footer">
    <span data-th-text="${date}"></span>
  </footer>
</div>

</body>
</html>
